<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" title"> Ventas</h4>
        </div>
        <div class=" card-body">
          <div class=" row">
            <div class=" col-md-3 pr-md-1">
              <div class=" form-group">
                <label> Cedula </label>                
              </div>              
            </div>        
            <div class=" col-md-1 pr-md-1">
              <div class=" form-group">
                <input type="hidden" value="Hola" name="hol">
                
              </div>
            </div>
            
            <div class=" col-md-4 px-md-1">
              <div class=" form-group">
                <label> Cliente </label>
                
              </div>
            </div>
            <div class=" col-md-1 pr-md-1">
              <div class=" form-group">
                <label> Consecutivo </label>
                
              </div>
            </div>
            <div class=" col-md-2 pr-md-1">
              <div class=" form-group">
                <label> Ciudad </label>
                
              </div>
            </div>
            



            <div class=" col-md-3 pr-md-1">
              <div class=" form-group">                
                <input class=" form-control" placeholder="Cedula" type="text" [(ngModel)]="cedulaCliente">
              </div>              
            </div>

            <button class="btn btn-danger btn-sm" (click)="[consultaCliente(cedulaCliente)]">
              <i class="fas fa-search"></i> Consultar
            </button>
            <div class=" col-md-4 px-md-1">
              <div class=" form-group">                
                <input class=" form-control" placeholder="Nombre Cliente" type="text" [(ngModel)]="nombreCliente" />
              </div>
            </div>
            <div class=" col-md-1 pr-md-1">
              <div class=" form-group">                
                <input class=" form-control" placeholder="Consecutivo" type="text" />
              </div>
            </div>
            <div class=" col-md-2 pr-md-1">
              <div class=" form-group">                
                <input class=" form-control" placeholder="Ciudad" type="text" />
              </div>
            </div>
            
            <div class=" col-md-3 pl-md-1">
              <div class=" form-group">
                <label> Codigo Producto </label>                
              </div>
            </div>
            <div class=" col-md-1 pr-md-1">
              <div class=" form-group">
                <input type="hidden" value="Hola" name="hol">                
              </div>
            </div>
            
            <div class=" col-md-4 px-md-1">
              <div class=" form-group">
                <label> Descripción </label>                
              </div>
            </div>
            <div class=" col-md-1 px-md-1">
              <div class=" form-group">
                <label> Cantidad </label>                
              </div>
            </div>
            <div class=" col-md-2 px-md-1">
              <div class=" form-group">
                <label> Valor Total </label>                
              </div>
            </div>

            <div class=" col-md-3 pl-md-1">
              <div class=" form-group">                
                <input class=" form-control" placeholder=" Escribir codigo de Producto" type="num" [(ngModel)]="codigoProducto"/>
              </div>
            </div>
            
            <button class="btn btn-danger btn-sm" (click)="[consultaProducto(codigoProducto)]">
              <i class="fas fa-search"></i> Consultar
            </button>
            <div class=" col-md-4 px-md-1">
              <div class=" form-group">                
                <input class=" form-control" placeholder="Nombre Producto" type="text" [(ngModel)]="nombreProducto"/>
              </div>
            </div>
            <div class=" col-md-1 px-md-1">
              <div class=" form-group">                
                <input class=" form-control" placeholder="Unidades" type="text" />
              </div>
            </div>
            <div class=" col-md-2 px-md-1">
              <div class=" form-group">                
                <input class=" form-control" placeholder="Valor Total" type="num" />
              </div>
            </div>







            <div class=" col-md-3 pl-md-1">
              <div class=" form-group">
                <input class=" form-control" placeholder=" Escribir codigo de Producto" type="num" [(ngModel)]="codigoProducto2"/>
              </div>
            </div>
            <button class="btn btn-danger btn-sm" (click)="[consultaProducto2(codigoProducto2)]">
              <i class="fas fa-search"></i> Consultar
            </button>
            <div class=" col-md-4 px-md-1">
              <div class=" form-group">
                <input class=" form-control" placeholder="Nombre Producto" type="text" [(ngModel)]="nombreProducto2" />
              </div>
            </div>
            <div class=" col-md-1 px-md-1">
              <div class=" form-group">
                <input class=" form-control" placeholder="Unidades" type="text" />
              </div>
            </div>
            <div class=" col-md-2 px-md-1">
              <div class="float-right">
                <div class=" form-group">
                  <input class=" form-control" placeholder="Valor Total" type="num" />
                </div>
              </div>
            </div>
            <div class=" col-md-3 pl-md-1">
              <div class=" form-group">
                <input class=" form-control" placeholder=" Escribir codigo de Producto" type="num" />
              </div>
            </div>
            <button class="btn btn-danger btn-sm">
              <i class="fas fa-search"></i> Consultar
            </button>
            <div class=" col-md-4 px-md-1">
              <div class=" form-group">
                <input class=" form-control" placeholder="Nombre Producto" type="text" />
              </div>
            </div>
            <div class=" col-md-1 px-md-1">
              <div class=" form-group">
                <input class=" form-control" placeholder="Unidades" type="text" />
              </div>
            </div>
            <div class=" col-md-2 px-md-1">
              <div class=" form-group">
                <input class=" form-control" placeholder="Valor Total" type="num" />
              </div>
            </div>
          </div>




          <div class="container-btn-group">
            <div class="float-right">
              <div class=" col-md-30">
                <div class=" form-group">
                  <input class=" form-control" placeholder="Total Venta" type="text" />
                </div>
              </div>
              <div class=" col-md-30">
                <div class=" form-group">
                  <input class=" form-control" placeholder="Total Iva" type="text" />
                </div>
              </div>
              <div class=" col-md-30">
                <div class=" form-group">
                  <input class=" form-control" placeholder="Total con Iva" type="text" />
                </div>
              </div>
            </div>
            <button class="btn btn-danger float-center">
              <i class="fas fa-check"></i> Confirmar
            </button>
