<div class=" content">
  <div class=" row">
    <div class=" col-md-10">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" title"> Insertar Clientes</h4>
        </div>
        <div class=" card-body">
          <form [formGroup]="clienteForm" (ngSubmit)="actualizarCliente()">

            <input type="hidden" formControlName="id" name="" value="No me deberìa ver">

            <div class=" row">
              <div class=" col-md-6 pr-md-1">
                <div class="form-group" [ngClass]="{'has-danger' : controladorErrores().cedula.errors?.required && controladorErrores().cedula.touched }">
                  <label> Cédula </label>
                  <input formControlName="cedula" class=" form-control" placeholder="Cédula" type="text" [readonly]="!clienteNuevo"/>
                </div>
              </div>

              <div class=" col-md-6 px-md-1">
                <div class="form-group" [ngClass]="{'has-danger' : controladorErrores().telefono.errors?.required && controladorErrores().telefono.touched }">
                  <label> Teléfono </label>
                  <input formControlName="telefono" class=" form-control" placeholder="Número de Teléfono"
                    type="text" />
                </div>
              </div>

              <div class=" col-md-6 pr-md-1">
                <div class=" form-group" [ngClass]="{'has-danger' : controladorErrores().nombre.errors?.required && controladorErrores().nombre.touched }">
                  <label> Nombre Completo </label>
                  <input formControlName="nombre" class=" form-control" placeholder="Nombre Cliente" type="text" />
                </div>
              </div>

              <div class=" col-md-6 pl-md-1">
                <div class=" form-group" [ngClass]="{'has-danger' : controladorErrores().correo.errors?.required && controladorErrores().correo.touched }">
                  <label> Correo Electrónico </label>
                  <input formControlName="correo" class=" form-control" placeholder="alguien@email.com" type="email" />
                </div>
              </div>

              <div class=" col-md-12">
                <div class=" form-group" [ngClass]="{'has-danger' : controladorErrores().direccion.errors?.required && controladorErrores().direccion.touched }">
                  <label> Dirección </label>
                  <input formControlName="direccion" class=" form-control" placeholder="Dirección" type="text" />
                </div>
              </div>
            </div>

            <div class="container-btn-group">

              <button type="button" class="btn btn-danger"(click)="crearCliente()">
                <i class="fas fa-plus-circle"></i> Crear
              </button>
              <button type="submit" class="btn btn-danger">
                <i class="fas fa-pen-alt"></i> Actualizar
              </button>
              <button type="button" class="btn btn-danger" (click)="consultaClientes()">
                <i class="fas fa-search"></i> Consultar
              </button>
            </div>


          </form>

          <div class=" col-md-12" >
            <div class=" card" style="background-color:#283747;">
              <div class=" card-header">
                <h4 class=" card-title">Lista Clientes</h4>
              </div>
              <div class=" card-body">
                <div class=" table-responsive">
                  <table class=" table tablesorter" id="">
                    <thead class=" text-primary">
                      <tr>
                        <th class=" text-center">Cédula</th>
                        <th class=" text-center">Nombre Completo</th>
                        <th class=" text-center">Dirección</th>
                        <th class=" text-center">Teléfono</th>
                        <th class=" text-center">Correo Electrónico</th>
                        <th class=" text-center">Editar</th>
                        <th class=" text-center">Eliminar</th>
                      </tr>
                    </thead>
                    <tbody>


                      <tr *ngFor="let cliente of listaClientes">
                        <td class=" text-center">{{cliente.cedula}}</td>
                        <td class=" text-center">{{cliente.nombreCompleto}}</td>
                        <td class=" text-center">{{cliente.direccion}}</td>
                        <td class=" text-center">{{cliente.telefono}}</td>
                        <td class=" text-center">{{cliente.correoElectronico}}</td>
                        <td class=" text-center">
                          <a [routerLink]="" (click)="editarCliente(cliente)">
                            <i class="tim-icons icon-pencil"></i>
                          </a>
                        </td>
                        <td class=" text-center">
                          <a [routerLink]="" (click)="eliminarCliente(cliente)">
                            <i class="tim-icons icon-simple-delete"></i>
                          </a>
                        </td>
                      </tr>


                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
